# ai-service/requirements.txt
fastapi==0.115.12
uvicorn[standard]==0.34.2
python-jose[cryptography]==3.3.0
pydantic==2.10.6
pydantic-settings==2.14.0
beautifulsoup4==4.13.4
httpx==0.28.1
minio==7.2.15
python-multipart==0.0.20
lxml==5.4.0
